.navb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: black 2px solid;
  margin-top: 5vh;
  margin-left: 4vw;
  margin-right: 4vw;
}

.navb a {
  padding-top: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 1.7vh;
}

.navb a:hover {
  color: black;
}

title {
}

main {
  display: flex;
}

#box-left {
  height: 30vh;
  width: 50vh;
  background-color: blue;
}

#box-right {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 50vh;
  background-color: palevioletred;
}

#top-right {
  height: 10vh;
  width: 20vh;
  background-color: green;
}

#bottom-right {
  height: 10vh;
  width: 20vh;
  background-color: peru;
}
